.s-rand-coin {

  .result {
    padding: 15px;
    background-color: #eee;
  
    .result-text{
      font-size: 1.5em;
    }
  
  }
    
  #btnRand {
    min-width: 150px;
  }
  
  .img-cover1,
  .img-cover2 {
    width: 150px;
    height: 150px;
    margin: auto;
  }
  
  .img-cover1 {  
    background-repeat: no-repeat;
    background-size: 450px 150px;
  }
  
  .img-coin {
    background-position-x: 0px;
  }
  
  .img-face {
    background-position-x: -150px;
  }
  
  .img-crown {
    background-position-x: -300px;
  }
  
  @keyframes animeFlipCoin{
    0% {
      transform: scaleY(1);
    }
    10% {
      transform: scaleY(0);
    }
    20% {
      transform: scaleY(-.8);
    }
    30% {
      transform: scaleY(0);
    }
    40% {
      transform: scaleY(.6);
    }
    50% {
      transform: scaleY(0);
    }
    60% {
      transform: scaleY(-.6);
    }
    70% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(.8);
    }
    90% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }  
  }
  
  @-webkit-keyframes animeFlipCoin {
    0% {
      -webkit-transform: scaleY(1);
    }
    10% {
      -webkit-transform: scaleY(0);
    }
    20% {
      -webkit-transform: scaleY(-.8);
    }
    30% {
      -webkit-transform: scaleY(0);
    }
    40% {
      -webkit-transform: scaleY(.6);
    }
    50% {
      -webkit-transform: scaleY(0);
    }
    60% {
      -webkit-transform: scaleY(-.6);
    }
    70% {
      -webkit-transform: scaleY(0);
    }
    80% {
      -webkit-transform: scaleY(.8);
    }
    90% {
      -webkit-transform: scaleY(0);
    }
    100% {
      -webkit-transform: scaleY(1);
    }
  }
  
  @-moz-keyframes animeFlipCoin{
    0% {
      -moz-transform: scaleY(1);
    }
    10% {
      -moz-transform: scaleY(0);
    }
    20% {
      -moz-transform: scaleY(-.8);
    }
    30% {
      -moz-transform: scaleY(0);
    }
    40% {
      -moz-transform: scaleY(.6);
    }
    50% {
      -moz-transform: scaleY(0);
    }
    60% {
      -moz-transform: scaleY(-.6);
    }
    70% {
      -moz-transform: scaleY(0);
    }
    80% {
      -moz-transform: scaleY(.8);
    }
    90% {
      -moz-transform: scaleY(0);
    }
    100% {
      -moz-transform: scaleY(1);
    }
  }
  
  @-o-keyframes animeFlipCoin {
    0% {
      -o-transform: scaleY(1);
    }
    10% {
      -o-transform: scaleY(0);
    }
    20% {
      -o-transform: scaleY(-.8);
    }
    30% {
      -o-transform: scaleY(0);
    }
    40% {
      -o-transform: scaleY(.6);
    }
    50% {
      -o-transform: scaleY(0);
    }
    60% {
      -o-transform: scaleY(-.6);
    }
    70% {
      -o-transform: scaleY(0);
    }
    80% {
      -o-transform: scaleY(.8);
    }
    90% {
      -o-transform: scaleY(0);
    }
    100% {
      -o-transform: scaleY(1);
    }
  }
  
  @-ms-keyframes animeFlipCoin {
    0% {
      -ms-transform: scaleY(1);
    }
    10% {
      -ms-transform: scaleY(0);
    }
    20% {
      -ms-transform: scaleY(-.8);
    }
    30% {
      -ms-transform: scaleY(0);
    }
    40% {
      -ms-transform: scaleY(.6);
    }
    50% {
      -ms-transform: scaleY(0);
    }
    60% {
      -ms-transform: scaleY(-.6);
    }
    70% {
      -ms-transform: scaleY(0);
    }
    80% {
      -ms-transform: scaleY(.8);
    }
    90% {
      -ms-transform: scaleY(0);
    }
    100% {
      -ms-transform: scaleY(1);
    }
  }
  
  @keyframes animeScaleCoin {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(.5);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  @-webkit-keyframes animeScaleCoin {
    0% {
      -webkit-transform: scaleX(1);
    }
    50% {
      -webkit-transform: scaleX(.5);
    }
    100% {
      -webkit-transform: scaleX(1);
    }
  }
  
  @-moz-keyframes animeScaleCoin {
    0% {
      -moz-transform: scaleX(1);
    }
    50% {
      -moz-transform: scaleX(.5);
    }
    100% {
      -moz-transform: scaleX(1);
    }
  }
  
  @-o-keyframes animeScaleCoin {
    0% {
      -o-transform: scaleX(1);
    }
    50% {
      -o-transform: scaleX(.5);
    }
    100% {
      -o-transform: scaleX(1);
    }
  }
  
  @-ms-keyframes animeScaleCoin {
    0% {
      -ms-transform: scaleX(1);
    }
    50% {
      -ms-transform: scaleX(.5);
    }
    100% {
      -ms-transform: scaleX(1);
    }
  }
  
  .anime-flip-coin {
    animation: animeFlipCoin 1s infinite linear;
    -webkit-animation: animeFlipCoin 1s infinite linear;
    -moz-animation: animeFlipCoin 1s infinite linear;
    -o-animation: animeFlipCoin 1s infinite linear;
    -ms-animation: animeFlipCoin 1s infinite linear;
  }
  
  .anime-scale-coin {
    animation: animeScaleCoin 1s infinite linear;
    -webkit-animation: animeScaleCoin 1s infinite linear;
    -moz-animation: animeScaleCoin 1s infinite linear;
    -o-animation: animeScaleCoin 1s infinite linear;
    -ms-animation: animeScaleCoin 1s infinite linear;
  }
    
}