<v-container class="s-rand-coin text-xs-center">
    <v-layout row wrap>        
        <v-flex xs12 sm8 offset-sm2>
            <div class="img-cover2 mt-4" :class="{'anime-flip-coin': loading}">
                <div @click="imagePerform" class="img-cover1" :class="[{'anime-scale-coin': loading}, imageClass]" :style="{'background-image': 'url(' + image + ')'}"></div>
            </div>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-btn class="mt-4" id="btnRand" color="primary" @click="btnPerform" :disabled="loading">{{$t('btn_toss')}}</v-btn>
        </v-flex>
    </v-layout>
    <v-layout row wrap>
        <v-flex xs12>
            <div class="result mt-3" v-if="resultText">
                <div class="mt-2 text-xs-center result-text">{{resultText}}</div>
                <div class="my-2 text-xs-center">
                    <v-btn :disabled="resultText.length <= 0" fab small :title="$t('tip_copy')" v-clipboard="resultText">
                        <v-icon small>content_copy</v-icon>
                    </v-btn>
                </div>
            </div>
        </v-flex>
    </v-layout>
</v-container>