<v-container class="pa-0">
    <s-navbar backbutton="/admin/p/my" :title="$t('label_new_promo')"></s-navbar>
    <v-container class="s-admin-promo-create">
        <v-layout row>
            <v-flex xs12>

                <v-stepper v-model="step" class="elevation-1" vertical>

                    <v-stepper-step :complete="step > 1" step="1">
                        <strong class="grey--text text--darken-1">{{ $t('label_basic') }}</strong>
                        <span class="grey--text">{{ $t('label_basic_desc') }}</span>
                    </v-stepper-step>
                    <v-stepper-content step="1">
                        <v-form ref="form1" v-model="form.valid.form1" lazy-validation>
                            <div class="mt-1 mb-3">
                                <v-layout row>
                                    <v-flex>
                                        <v-text-field v-model="form.name" :rules="form.rules.name" type="text" counter maxlength="50" :label="$t('label_name')" required></v-text-field>
                                    </v-flex>
                                </v-layout>
                                <v-layout row>
                                    <v-flex>
                                        <v-textarea v-model="form.desc" :rules="form.rules.desc" counter maxlength="500" :label="$t('label_desc')" required></v-textarea>
                                    </v-flex>
                                </v-layout>
                            </div>
                            <v-btn color="grey lighten-1" flat @click="btnCancel">
                                {{ $t('btn_cancel') }}
                            </v-btn>
                            <v-btn color="primary" @click="btnNextStep" :disabled="!form.valid.form1">
                                {{ $t('btn_next') }}
                            </v-btn>
                        </v-form>
                    </v-stepper-content>

                    <v-stepper-step :complete="step > 2" step="2">
                        <strong class="grey--text text--darken-1">{{ $t('label_dates') }}</strong>
                        <span class="grey--text">{{ $t('label_dates_desc') }}</span>
                    </v-stepper-step>
                    <v-stepper-content step="2">
                        <v-form ref="form2" v-model="form.valid.form2" lazy-validation>
                            <div class="mt-0 mb-3">
                                <v-layout row>
                                    <v-flex xs12 sm6>
                                        <v-dialog ref="dialogStartDate" v-model="modalStartDate" :return-value.sync="form.startDate" persistent lazy full-width width="290px">
                                            <v-text-field slot="activator" v-model="startDateFormatted" :rules="form.rules.startDate" :label="$t('label_initial_date')"
                                                prepend-icon="event" readonly required></v-text-field>
                                            <v-date-picker v-model="form.startDate" locale="lang" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="modalStartDate = false">{{ $t('btn_cancel')
                                                    }}</v-btn>
                                                <v-btn flat color="primary" @click="$refs.dialogStartDate.save(form.startDate)">{{
                                                    $t('btn_ok') }}</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>

                                <v-layout row>
                                    <v-flex xs12 sm6>
                                        <v-dialog ref="dialogFinishDate" v-model="modalFinishDate" :return-value.sync="form.finishDate" persistent lazy full-width
                                            width="290px">
                                            <v-text-field slot="activator" v-model="finishDateFormatted" :rules="form.rules.finishDate" :label="$t('label_final_date')"
                                                prepend-icon="event" readonly required></v-text-field>
                                            <v-date-picker v-model="form.finishDate" locale="lang" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="modalFinishDate = false">{{ $t('btn_cancel')
                                                    }}</v-btn>
                                                <v-btn flat color="primary" @click="$refs.dialogFinishDate.save(form.finishDate)">{{
                                                    $t('btn_ok') }}</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>

                                <v-layout row>
                                    <v-flex xs12 sm6>
                                        <v-dialog ref="dialogPerformDate" v-model="modalPerformDate" :return-value.sync="form.performDate" persistent lazy full-width
                                            width="290px">
                                            <v-text-field slot="activator" v-model="performDateFormatted" :rules="form.rules.performDate" :label="$t('label_perform_date')"
                                                prepend-icon="event" readonly required></v-text-field>
                                            <v-date-picker v-model="form.performDate" locale="lang" scrollable>
                                                <v-spacer></v-spacer>
                                                <v-btn flat color="primary" @click="modalPerformDate = false">{{ $t('btn_cancel')
                                                    }}</v-btn>
                                                <v-btn flat color="primary" @click="$refs.dialogPerformDate.save(form.performDate)">{{
                                                    $t('btn_ok') }}</v-btn>
                                            </v-date-picker>
                                        </v-dialog>
                                    </v-flex>
                                </v-layout>
                            </div>
                            <v-btn color="grey lighten-1" flat @click="btnBackStep">
                                {{ $t('btn_back') }}
                            </v-btn>
                            <v-btn color="primary" @click="btnNextStep" :disabled="!form.valid.form2">
                                {{ $t('btn_next') }}
                            </v-btn>
                        </v-form>
                    </v-stepper-content>

                    <v-stepper-step step="3">
                        <strong class="grey--text text--darken-1">{{ $t('label_media') }}</strong>
                        <span class="grey--text">{{ $t('label_media_desc') }}</span>
                    </v-stepper-step>
                    <v-stepper-content step="3">
                        <v-form ref="form3" v-model="form.valid.form3" lazy-validation>
                            <div>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-radio-group v-model="mediaType" row class="mb-0 pb-0 pt-0 mt-0">
                                            <v-radio v-for="(item, index) in mediaOptions" :key="index" :label="item.text" :value="item.value"></v-radio>
                                        </v-radio-group>
                                        <v-text-field v-model="localFileName" v-if="mediaType === 'image'" class="mt-0 pt-0" :placeholder="$t('label_select_image')"
                                            @click.native='pickFile' prepend-icon='attach_file' :hint="$t('tooltip_input_image')"
                                            persistent-hint readonly></v-text-field>
                                        <input type="file" ref="file" accept="image/jpeg" @change="onFilePicked">
                                        <v-text-field v-model="videoUrl" v-if="mediaType === 'video'" class="mt-0 pt-0" :class="{ 'mb-4': mediaType === 'video' }"
                                            :placeholder="$t('label_select_video')" type="text" maxlength="100" :hint="`https://youtu.be/${videoUrl || 'video-code'}`"
                                            persistent-hint prepend-icon='insert_link'></v-text-field>
                                        <v-checkbox v-model="form.fakeImage" v-if="mediaType === 'image'" color="primary" :label="$t('label_check_fake_image')"></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6 class="text-xs-center mb-3">
                                        <img :src="imageUrlPerform" class="image-perform" height="110" />
                                    </v-flex>
                                </v-layout>
                            </div>
                            <v-btn color="grey lighten-1" flat @click="btnBackStep">
                                {{ $t('btn_back') }}
                            </v-btn>
                            <v-btn color="primary" @click="btnNextStep" :loading="form.loading" :disabled="form.loading || !form.valid.form1 || !form.valid.form2 || !form.valid.form3">
                                {{ $t('btn_next') }}
                            </v-btn>
                        </v-form>
                    </v-stepper-content>

                </v-stepper>

            </v-flex>
        </v-layout>
        <v-dialog v-model="dialogCompleted" width="500" persistent>
            <v-card>
                <v-card-text class="text-xs-center">
                    <v-icon color="green accent-4" size="120">check</v-icon>
                    <h1 class="mt-1 mb-1">{{ $t('label_success' )}}</h1>
                    <h4 class="mb-2" v-html="$t('success_create_promo')"></h4>
                    <p v-html="$t('text_create_promo')"></p>
                </v-card-text>

                <v-card-actions>
                    <v-btn color="light-blue accent-4" flat block dark large @click="btnUpdatePromo" class="ma-3">
                        {{ $t('btn_improve_promo') }}
                    </v-btn>
                    <v-btn color="green accent-4" block dark large @click="btnViewPromo" class="ma-3">
                        {{ $t('btn_view_promo') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <alert ref="alert"></alert>
        <confirm ref="confirm"></confirm>
    </v-container>
</v-container>