.s-admin-promo-media {

    input[type=file] {
        position: absolute;
        left: -99999px;
    }
    
    .v-input--radio-group {
        .v-messages {
            display: none;
        }    
    }

    .image-perform {
        padding: 4px;
        border: 1px dashed #666;
    }
}