<v-container class="s-admin-promo-media pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-alert :value="message.data.length" :type="(message.success) ? 'success' : 'error'" class="ma-3">
                    <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                </v-alert>

                <v-card-text>

                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <v-radio-group v-model="form.mediaType" :disabled="!enabled" row class="mb-0 pb-0 pt-0 mt-0">
                                <v-radio color="primary" v-for="(item, index) in mediaOptions" :key="index" :label="item.text" :value="item.value"></v-radio>
                            </v-radio-group>
                            <v-text-field v-model="localFileName" v-if="form.mediaType === 'image'" class="mt-0 pt-0" :disabled="!enabled" :placeholder="$t('label_select_image')" @click.native='pickFile' prepend-icon='attach_file' :hint="$t('tooltip_input_image')" persistent-hint readonly></v-text-field>                        
                            <input type="file" ref="file" :disabled="!enabled" accept="image/jpeg" @change="onFilePicked">
                            <v-text-field v-model="videoUrl" v-if="form.mediaType === 'video'" class="mt-0 pt-0" :class="{ 'mb-4': form.mediaType === 'video' }" :disabled="!enabled" :placeholder="$t('label_select_video')" type="text" maxlength="100" :hint="`https://youtu.be/${videoUrl || 'video-code'}`"
                                persistent-hint prepend-icon='insert_link'></v-text-field>
                            <v-checkbox v-model="form.fakeImage" v-if="form.mediaType === 'image'" color="primary" :disabled="!enabled" :label="$t('label_check_fake_image')"></v-checkbox>
                            </v-flex>
                        <v-flex xs12 sm6 class="text-xs-center mb-3">
                            <img :src="imageUrlPerform" class="image-perform" height="110" />
                        </v-flex>
                    </v-layout>

                    <v-btn color="primary" @click="btnSubmit" :disabled="!enabled || form.loading" :loading="form.loading">{{$t('btn_save_changes')}}</v-btn>

                </v-card-text>

            </v-card>
        </v-flex>
    </v-layout>
</v-container>