<v-container class="s-admin-promo-dates pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-alert :value="message.data.length" :type="(message.success) ? 'success' : 'error'" class="ma-3">
                    <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                </v-alert>

                <v-card-text>

                    <v-form ref="form" v-model="form.valid" lazy-validation>

                        <v-layout row>
                            <v-flex class="pr-1">
                                <v-dialog ref="dialogStartDate" v-model="modalStartDate" :disabled="!enabled" :return-value.sync="form.startDate" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="startDateFormatted" :rules="form.rules.startDate" :label="$t('label_initial_date')" prepend-icon="event"
                                        readonly></v-text-field>
                                    <v-date-picker v-model="form.startDate" locale="locale" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalStartDate = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogStartDate.save(form.startDate)">{{ $t('btn_ok') }}</v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex class="pl-1">
                                <v-dialog ref="dialogStartTime" v-model="modalStartTime" :disabled="!enabled" :return-value.sync="form.startTime" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="form.startTime" :rules="form.rules.startTime" :label="$t('label_initial_date')" prepend-icon="access_time"
                                        readonly></v-text-field>
                                    <v-time-picker v-if="modalStartTime" v-model="form.startTime" format="24hr">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalStartTime = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogStartTime.save(form.startTime)">{{ $t('btn_ok') }}</v-btn>
                                    </v-time-picker>
                                </v-dialog>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex class="pr-1">
                                <v-dialog ref="dialogFinishDate" v-model="modalFinishDate" :disabled="!enabled" :return-value.sync="form.finishDate" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="finishDateFormatted" :rules="form.rules.finishDate" :label="$t('label_final_date')" prepend-icon="event"
                                        readonly></v-text-field>
                                    <v-date-picker v-model="form.finishDate" locale="locale" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalFinishDate = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogFinishDate.save(form.finishDate)">{{ $t('btn_ok') }}</v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex class="pl-1">
                                <v-dialog ref="dialogFinishTime" v-model="modalFinishTime" :disabled="!enabled" :return-value.sync="form.finishTime" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="form.finishTime" :rules="form.rules.finishTime" :label="$t('label_final_date')" prepend-icon="access_time"
                                        readonly></v-text-field>
                                    <v-time-picker v-if="modalFinishTime" v-model="form.finishTime" format="24hr">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalFinishTime = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogFinishTime.save(form.finishTime)">{{ $t('btn_ok') }}</v-btn>
                                    </v-time-picker>
                                </v-dialog>
                            </v-flex>
                        </v-layout>

                        <v-layout row>
                            <v-flex class="pr-1">
                                <v-dialog ref="dialogPerformDate" v-model="modalPerformDate" :disabled="!enabled" :return-value.sync="form.performDate" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="performDateFormatted" :rules="form.rules.performDate" :label="$t('label_perform_date')" prepend-icon="event"
                                        readonly></v-text-field>
                                    <v-date-picker v-model="form.performDate" locale="locale" scrollable>
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalPerformDate = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogPerformDate.save(form.performDate)">{{ $t('btn_ok') }}</v-btn>
                                    </v-date-picker>
                                </v-dialog>
                            </v-flex>
                            <v-flex class="pl-1">
                                <v-dialog ref="dialogPerformTime" v-model="modalPerformTime" :disabled="!enabled" :return-value.sync="form.performTime" persistent
                                    lazy full-width width="290px">
                                    <v-text-field :disabled="!enabled" slot="activator" v-model="form.performTime" :rules="form.rules.performTime" :label="$t('label_perform_date')" prepend-icon="access_time"
                                        readonly></v-text-field>
                                    <v-time-picker v-if="modalPerformTime" v-model="form.performTime" format="24hr">
                                        <v-spacer></v-spacer>
                                        <v-btn flat color="primary" @click="modalPerformTime = false">{{ $t('btn_cancel') }}</v-btn>
                                        <v-btn flat color="primary" @click="$refs.dialogPerformTime.save(form.performTime)">{{ $t('btn_ok') }}</v-btn>
                                    </v-time-picker>
                                </v-dialog>
                            </v-flex>
                        </v-layout>

                        <v-btn color="primary" @click="btnSubmit" :disabled="!enabled || form.loading || !form.valid" :loading="form.loading">{{ $t('btn_save_changes') }}</v-btn>
                    </v-form>
                </v-card-text>

            </v-card>
        </v-flex>
    </v-layout>
</v-container>