<v-toolbar class="s-navbar" app>
    <v-btn icon v-if="backbutton" :href="backbutton">
        <v-icon>arrow_back</v-icon>
    </v-btn>
    <img v-if="!backbutton" src="/img/icon-128x128.png" width="32" />
    <v-toolbar-title class="ml-2">
        <v-btn flat class="btn-home mx-0 px-0" href="/">{{ title || $t('site_name') }}</v-btn>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-menu transition="slide-y-transition" left>
        <v-btn slot="activator" icon>{{ locale }}</v-btn>

        <v-list>
            <v-list-tile v-for="item in locales" v-if="locale !== item.code" :key="item.code" @click="switchLocale(item.code)">
                <v-list-tile-title>{{ item.name }}</v-list-tile-title>
            </v-list-tile>
        </v-list>
    </v-menu>
    <v-toolbar-items>
        <v-btn v-if="!authenticated && $route.path !== '/login'" href="/login" flat>{{ $t('menu_login') }}</v-btn>
    </v-toolbar-items>
    <v-menu v-if="authenticated" transition="slide-y-transition" left>
        <v-btn flat slot="activator" icon>
            <v-icon size="36" color="grey darken-1">account_circle</v-icon>
        </v-btn>

        <v-card>
            <v-list>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <img :src="picture">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ name }}</v-list-tile-title>
                        <v-list-tile-sub-title>{{ email }}</v-list-tile-sub-title>
                    </v-list-tile-content>

                </v-list-tile>
            </v-list>

            <v-divider></v-divider>

            <v-list>
                <v-list-tile to="/admin/p/subscribed">
                    <v-list-tile-title>{{ $t('menu_follow_promos') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/admin/p/my">
                    <v-list-tile-title>{{ $t('menu_own_promos') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="btnLogout">
                    <v-list-tile-title>{{ $t('btn_logout') }}</v-list-tile-title>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-menu>

</v-toolbar>