.s-rand-lottery {

    .result{
        padding: 15px;
        background-color: #eee;

        .result-text{
            font-size: 22px;
        }

        .ball {
            border-radius: 50%;
            width: 37px;        
            display: inline-block;
            margin: 4px;
            border: 1px solid #ccc;
        }

        .ball-1{    
            background-color: #fff;
            color: #666;
        }

        .ball-2{
            background-color: #f00;
            color: #fff;
        }
    }
    
}