<v-container class="s-rand-lottery">
    <v-layout row wrap v-if="errors.length" class="mb-2">
        <v-flex xs12>
            <v-alert :value="true" type="error">
                <p class="my-0" v-for="(error, index) in errors" :key="index">{{ error }}</p>
            </v-alert>
        </v-flex>
    </v-layout>
    <v-layout row wrap>
        <v-flex xs12 sm8 offset-sm2 class="pt-2 pb-4 text-xs-center">
            <v-btn-toggle v-model="selected" mandatory>
                <v-btn flat :value="index" v-for="(item, index) in optionsType" :key="index">
                    {{item.text}}
                </v-btn>
            </v-btn-toggle>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-select v-model="qtd" :items="optionsQtd" :label="$t('label_numbers')" :disabled="optionsQtd.length <= 1" required></v-select>
            <v-select v-if="minVal2 > 0 && maxVal2 > 0 && qtd2 > 0" v-model="qtd2" :items="optionsQtd2" :label="$t('label_numbers')" :disabled="optionsQtd2.length <= 1" required></v-select>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-btn color="primary" block @click="btnPerform" :disabled="isLoading">{{$t('btn_random')}}</v-btn>
        </v-flex>
    </v-layout>
    <v-layout row wrap>
        <v-flex xs12>
            <div class="result mt-3" v-if="resultBalls.length > 0">
                <div class="mt-2 text-xs-center result-text">
                    <div v-for="(item,index) in resultBalls" :key="index" class="ball" :class="item.type">
                        <span>{{item.value}}</span>
                    </div>
                </div>
                <div class="my-2 text-xs-center">
                    <v-btn :disabled="results.length <= 0" fab small :title="$t('tip_copy')" v-clipboard="resultText">
                        <v-icon small>content_copy</v-icon>
                    </v-btn>
                </div>
            </div>
        </v-flex>
    </v-layout>
</v-container>