<v-container class="s-admin-promo-list">
    <v-layout row>
        <v-flex xs12>
            <v-card>

                <v-card-title primary-title>
                    <v-layout row wrap>
                        <v-flex xs12 sm6>
                            <div class="headline">{{ $t('label_title_manager_promos') }}</div>
                            <span class="grey--text">{{ $t('label_subtitle_manager_promos') }}</span>
                        </v-flex>
                        <v-flex xs12 sm6 class="text-sm-right">
                            <v-btn class="ml-0" @click="btnCreate" :disabled="createLoading" :loading="createLoading" color="primary">
                                {{ $t('label_new_promo') }}
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text>
                    <v-data-table :items="list" hide-actions hide-headers class="elevation-0">
                        <template slot="items" slot-scope="props">
                            <td>
                                <v-icon>{{ (props.item.closedType != null) ? 'done_all' : 'done'}}</v-icon>
                            </td>
                            <td>
                                <a class="open-promo" :href="`/p/${props.item.id}`" target="_blank">{{ props.item.name }}
                                </a>
                            </td>
                            <td>{{ props.item.performAt | formatDatetime($t('datetime_format')) }}</td>
                            <td class="text-xs-right">
                                <v-btn flat outline color="info" small :href="`/admin/p/${props.item.id}`">
                                    {{ $t('btn_manage') }}
                                </v-btn>
                            </td>
                        </template>
                        <template slot="no-data">{{ $t('error_not_promo_created') }}
                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
    <alert ref="alert"></alert>
</v-container>