<template>
    <v-footer class="s-footer px-1 py-3" dark height="auto">
    <div>
        <v-btn class="ml-2" dark icon href="https://www.facebook.com/sorteyou" target="_blank">
        <v-icon size="24px">fab fa-facebook</v-icon>
        </v-btn>
        <v-btn class="ml-1" dark icon href="https://twitter.com/sorteyou" target="_blank">
        <v-icon size="24px">fab fa-twitter</v-icon>
        </v-btn>
        <v-btn class="ml-1" dark icon href="https://plus.google.com/110447969303116632925" target="_blank">
        <v-icon size="24px">fab fa-google-plus</v-icon>
        </v-btn>
    </div>
    <v-spacer></v-spacer>
    <div class="mr-3">
        &copy;{{ (new Date()).getFullYear() }} | {{ $t('site_name') }}
    </div>
    </v-footer>
</template>