<v-container class="s-admin-promo-basic pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-alert :value="message.data.length" :type="(message.success) ? 'success' : 'error'" class="ma-3">
                    <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                </v-alert>

                <v-card-text>

                    <v-form ref="form" v-model="form.valid" lazy-validation>
                        <v-layout row>
                            <v-flex>
                                <v-text-field v-model="form.name" :rules="form.rules.name" :disabled="!enabled" type="text" counter maxlength="50" :label="$t('label_name')" required></v-text-field>
                            </v-flex>
                        </v-layout>

                        <v-layout row class="mt-2">
                            <v-flex xs6 class="mr-3">
                                <v-select v-model="form.country" :rules="form.rules.country" :disabled="!enabled" :items="countries" item-text="name" item-value="code" :label="$t('label_country')"
                                    required></v-select>
                            </v-flex>
                            <v-flex xs6 class="ml-3">
                                <v-select v-model="form.category" :rules="form.rules.category" :disabled="!enabled" :items="categories" item-text="v" item-value="k" :label="$t('label_category')"
                                    required></v-select>
                            </v-flex>
                        </v-layout>

                        <v-layout row class="mt-4">
                            <v-flex>
                                <v-textarea v-model="form.desc" :rules="form.rules.desc" :disabled="!enabled" counter maxlength="500" :label="$t('label_desc')" required></v-textarea>
                            </v-flex>
                        </v-layout>

                        <v-layout row class="mt-4">
                            <v-flex>
                                <v-textarea v-model="form.terms" :rules="form.rules.terms" :disabled="!enabled" counter maxlength="1000" :label="$t('label_rules')" required></v-textarea>
                            </v-flex>
                        </v-layout>

                        <v-btn class="mt-2" color="primary" @click="btnSubmit" :disabled="!enabled || form.loading || !form.valid" :loading="form.loading">{{$t('btn_save_changes')}}</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>