<template>
  <v-dialog v-model="dialog" :max-width="options.width" @keydown.esc="btnCancel">
    <v-toolbar color="white" v-if="!!title" dense>
      <v-toolbar-title :class="`${options.color || 'grey'}--text`">{{ title }}</v-toolbar-title>
    </v-toolbar>
    <v-card tile>
      <v-card-text v-show="!!message">
        <div v-if="options.html" v-html="message"></div>
        <div v-if="!options.html">{{ message }}</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn :color="`${options.color} darken-1`" flat="flat" @click.native="btnCancel">{{ $t('btn_ok') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
/**
 * Vuetify Alert Dialog component
 *
 * Insert component where you want to use it:
 * <alert ref="alert"></alert>
 *
 * Call it:
 * this.$refs.alert.open('Delete', 'Are you sure?', { color: 'red' }).then((alert) => {});
 *
 * Alternatively you can place it in main App component and access it globally via this.$root.$alert
 * <template>
 *   <v-app>
 *     ...
 *     <alert ref="alert"></alert>
 *   </v-app>
 * </template>
 *
 * mounted() {
 *   this.$root.$alert = this.$refs.alert.open;
 * }
 */
export default {
  data() {
    return {
      dialog: false,
      resolve: null,
      reject: null,
      message: null,
      title: null,
      options: {
        color: 'primary',
        width: 350,
        html: false
      }
    }
  },
  methods: {
    showError(title, message) {
      this.show(title, message, { color: 'red' })
    },

    showSuccess(title, message) {
      this.show(title, message, { color: 'green' })
    },

    show(title, message, options) {
      this.dialog = true
      this.title = title
      this.message = message
      this.options = Object.assign(this.options, options)

      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },

    btnCancel() {
      this.resolve(true)
      this.dialog = false
    }
  }
}
</script>