<template>
  <v-dialog v-model="dialog" :max-width="options.width" :persistent="options.persistent">
    <v-toolbar color="white" dense v-if="!!title">
      <v-toolbar-title :class="`${options.color || 'grey'}--text`">{{ title }}</v-toolbar-title>
    </v-toolbar>
    <v-card tile>
      <v-card-text v-show="!!message">
        <div v-if="options.html" v-html="message"></div>
        <div v-if="!options.html">{{ message }}</div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" flat @click.native="btnCancel">{{ $t('btn_no') }}</v-btn>
        <v-btn color="primary darken-1" flat @click.native="btnAgree">{{ $t('btn_yes') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    data() {
      return {
        dialog: false,
        resolve: null,
        reject: null,
        message: null,
        title: null,
        options: {      
          color: 'primary',
          width: 350,
          persistent: true,
          html: false
        }
      };
    },
    methods: {
      show(title, message, options) {
        this.dialog = true;
        this.title = title;
        this.message = message;
        this.options = Object.assign(this.options, options);

        return new Promise((resolve, reject) => {
          this.resolve = resolve;
          this.reject = reject;
        });
      },

      btnAgree() {
        this.resolve(true);
        this.dialog = false;
      },

      btnCancel() {
        this.resolve(false);
        this.dialog = false;
      },
    },
  }
</script>