<template>
  <v-dialog v-model="dialog" :max-width="options.width" :persistent="options.persistent">
    <v-toolbar color="white" dense>
      <v-toolbar-title :class="`${options.color || 'grey'}--text`">{{ title }}</v-toolbar-title>
    </v-toolbar>
    <v-card tile>
      <v-card-text>
        <v-form ref="formDialogText" v-model="form.valid.dialogText" lazy-validation>
            <v-layout row>
                <v-flex>
                    <v-textarea v-model="form.text" :placeholder="placeholder" :rules="form.rules.dialogText" counter :maxlength="maxlength" :label="$t('label_text')" :required="required"></v-textarea>
                </v-flex>
            </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="grey" flat @click.native="btnCancel">{{ options.btnCancelText }}</v-btn>
        <v-btn color="primary darken-1" flat @click.native="btnContinue" :disabled="!form.valid.dialogText">{{ options.btnContinueText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
      resolve: null,
      reject: null,
      title: null,
      placeholder: null,
      maxlength: 100,
      required: true,
      form: {
        text: null,
        valid: {
          dialogText: false
        },
        rules: {
          dialogText: [
            v => (!this.required || !!v) || this.$t('error_field_required'),
            v =>
              (v && v.length <= this.maxlength) ||
              this.$t('error_field_max_length', { length: this.maxlength })
          ]
        }
      },
      options: {
        color: 'primary',
        width: 500,
        persistent: true,
        btnCancelText: '',
        btnContinueText: ''
      }
    }
  },
  created: function () {
    this.options.btnCancelText = this.$t('btn_cancel')
    this.options.btnContinueText = this.$t('btn_continue')
  },
  methods: {
    show(title, placeholder, maxlength, required, options) {
      this.form.text = null
      this.title = title
      this.placeholder = placeholder
      this.maxlength = maxlength
      this.required = required
      this.dialog = true
      this.options = Object.assign(this.options, options)

      return new Promise((resolve, reject) => {
        this.resolve = resolve
        this.reject = reject
      })
    },

    btnContinue() {
      this.resolve(this.form.text)
      this.dialog = false
    },

    btnCancel() {
      this.resolve(null)
      this.dialog = false
    }
  }
}
</script>