<template>
  <v-select
      :items="items"
      v-model="item"
      solo
      @change="onChange"
    ></v-select>
</template>

<script>
export default {
  data() {
    return {
      item: null,
      items: []
    }
  },
  created: function() {
    this.items = []
    this.items.push({ text: this.$t('s_menu_rand.coin'), value: '/heads-or-tails' })
    this.items.push({ text: this.$t('s_menu_rand.numbers'), value: '/draw-numbers' })
    this.items.push({ text: this.$t('s_menu_rand.words'), value: '/draw-words' })
    this.items.push({ text: this.$t('s_menu_rand.alphabet'), value: '/draw-alphabet' })
    this.items.push({ text: this.$t('s_menu_rand.lottery'), value: '/draw-lottery' })
    this.item = this.$route.path
  },
  methods: {
    onChange: function () {
      this.$router.push(this.item)
    }
  }
}
</script>