<template>
  <div class="s-pay">
    <div id="paypal-button"></div>
  </div>
</template>

<script>
export default {
  props: ['amount', 'currency'],
  data () {
    return {}
  },
  mounted () {
    paypal.Button.render(
      {
        env: 'sandbox',
        payment: (data, actions) => {
          const form = {
            amountTotal: this.amount,
            amountCurrency: this.currency
          }

          return actions.request
            .post(process.env.apiUrl + '/admin/payments/create', form, {
              headers: {
                'Authorization': 'Bearer ' + this.$store.getters.token
              }
            })
            .then(res => {
              return res.data.id
            })
        },
        onAuthorize: (data, actions) => {
          const form = {
            amountTotal: this.amount,
            amountCurrency: this.currency,
            paymentID: data.paymentID,
            payerID: data.payerID
          }
          return actions.request
            .post(process.env.apiUrl + '/admin/payments/execute', form, {
              headers: {
                'Authorization': 'Bearer ' + this.$store.getters.token
              }
            })
            .then(res => {
              console.log(res)
              this.$emit('callback', res)
            })
        },
        style: {
          size: 'responsive',
          label: 'pay'
        }
      },
      '#paypal-button'
    )
  }
}
</script>

<style lang="scss">
  .s-pay {
    #paypal-button {
      position: relative;
      z-index: 1;
    }
  }
</style>
