.s-payment {

  .btn-submit {
    min-width: 150px;
  }

  .alert ul {
    margin-bottom: 0px;
    padding-left: 14px;
  }

  .text-field-value {
    input, .v-text-field__prefix {
      font-size: 30px;
    }
  }
}