<v-container class="s-payment pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-card-text>
                    <v-layout row v-if="message.data.length > 0" class="mb-2">
                        <v-flex xs12>
                            <v-alert :value="true" :type="(message.success) ? 'success' : 'error'">
                                <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                            </v-alert>
                        </v-flex>
                    </v-layout>

                    <v-layout row>
                        <v-flex class="text-xs-center">
                            <div class="caption grey--text">{{ $t('comp.credits.total').toUpperCase() }}</div>
                            <div v-if="!creditsLoading" class="display-1">{{ credits | currency(currency) }}</div>
                            <v-progress-circular v-if="creditsLoading" indeterminate color="accent"></v-progress-circular>
                        </v-flex>
                    </v-layout>

                    <v-layout row class="mt-4">
                        <v-flex class="text-xs-center">
                            <div class="caption grey--text">{{ $t('comp.credits.amount').toUpperCase() }}</div>
                            <div class="display-1">{{ form.amount | currency(currency) }}</div>
                        </v-flex>
                    </v-layout>

                    <v-layout row justify-center class="mt-2">
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="(form.amount > 5) ? form.amount-- : form.amount + 0">chevron_left</v-icon>
                            </v-btn>
                        </v-flex>
                        <v-flex xs5 class="text-xs-center">
                            <v-slider v-model="form.amount" class="mt-2 ml-3 mr-2" tick-color="accent"
                                tick-size="2" :min="5" :max="1000"></v-slider>
                        </v-flex>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="(form.amount < 1000) ? form.amount++ : form.amount + 0">chevron_right</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>

                    <v-layout row class="mt-0">
                        <v-flex>
                            <s-pay :amount="form.amount" :currency="currency" @callback="payCallback" />
                        </v-flex>
                    </v-layout>

                </v-card-text>
            </v-card>
        </v-flex>

        <alert ref="alert"></alert>
        <confirm ref="confirm"></confirm>

    </v-layout>
</v-container>