<v-container class="s-login">
    <v-layout row>
        <v-flex>
            <div v-html="$t('text_login_page_text')"></div>
            <v-card>
                <v-layout row v-if="errors.length">
                    <v-flex xs12>
                        <v-alert :value="true" type="error" class="mt-3 mx-3">
                            <p class="my-0" v-for="(error, index) in errors" :key="index">{{ error }}</p>
                        </v-alert>
                    </v-flex>
                </v-layout>
                <v-layout row wrap class="px-3 pt-2" justify-center>
                    <v-flex sx12 class="text-xs-center">
                        <v-icon v-if="!loadingLogin" size="100" class="my-2">account_circle</v-icon>
                        <v-progress-circular v-if="loadingLogin" class="loading-login" indeterminate color="accent"></v-progress-circular>
                    </v-flex>
                </v-layout>
                <v-layout row wrap justify-center class="px-3">
                    <v-flex xs12 sm9 class="text-xs-center">
                        <v-btn color="googleplus" round block class="white--text" @click="btnLoginGoogle" :loading="loadingGoogle" :disabled="loading">{{$t('btn_login_with_google')}}</v-btn>
                    </v-flex>
                </v-layout>
                <v-layout row wrap justify-center class="px-3 pb-2">
                    <v-flex xs12 sm9 class="text-xs-center">
                        <v-btn color="facebook" round block class="white--text" @click="btnLoginFacebook" :loading="loadingFacebook" :disabled="loading">{{$t('btn_login_with_facebook')}}</v-btn>
                    </v-flex>
                </v-layout>
            </v-card>

            <div class="mt-3">
                <small v-html="$t('label_accept_site_terms')"></small>
            </div>

        </v-flex>
    </v-layout>
</v-container>