<template>
  <v-container class="pa-0">
    <s-navbar :title="$t('page.admin.p.id.title')" backbutton="/admin/p/my"></s-navbar>
    <v-container grid-list-md class="s-admin-promo pt-2">
        <v-layout row>
          <v-flex xs12>
            <v-tabs color="transparent" :value="`/admin/p/${promo.id}`">
              <v-tab :href="`/admin/p/${promo.id}`">
                <span class="primary--text">{{ $t('tab_update') }}</span>
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/status`">
                {{ $t('tab_status') }}
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/perform`">
                {{ $t('tab_perform') }}
              </v-tab>
            </v-tabs>
          </v-flex>
        </v-layout>
        
        <v-layout row>
            <v-flex>
                <update :promo="promo"></update>
            </v-flex>
        </v-layout>

    </v-container>
  </v-container>
</template>

<script>
import SNavbar from '@/components/s-navbar'
import Update from '@/components/admin/promo/update/index'

export default {
  name: 'AdminPromo',
  layout: 'no-navbar',
  components: {
    SNavbar,
    Update
  },
  data: function() {
    return {
      promo: null
    }
  },
  middleware: 'auth',
  head() {
    return {
      title: this.$t('page.admin.p.id.title'),
      meta: [{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' }],
      script: [{ src: 'https://www.paypalobjects.com/api/checkout.js' }]
    }
  },
  asyncData({ app, params, env, error }) {
    const promoId = params.id
    return app.$axios
      .$get(`/admin/promos/${promoId}`)
      .then(res => {
        if (res.success) {
          return { promo: res.data }
        } else {
          error({
            statusCode: 404
          })
        }
      })
      .catch(err => {
        error({
          statusCode: err.response ? err.response.status : 500,
          message: err.response ? err.response.data : ''
        })
      })
  },
  async fetch({ store, params }) {
    //await store.dispatch('loadAdmPromo', params)
    await store.dispatch('loadAdmCredits', params)
  }
}
</script>

