<template>
  <v-container class="pa-0">
    <s-navbar :title="$t('page.admin.p.id.title')" backbutton="'/admin/p/my'"></s-navbar>
    <v-container grid-list-md class="s-admin-promo-perform  pt-2">

        <v-layout row>
          <v-flex xs12>
            <v-tabs color="transparent" :value="`/admin/p/${promo.id}/perform`">
              <v-tab :href="`/admin/p/${promo.id}`">
                {{ $t('tab_update') }}
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/status`">
                {{ $t('tab_status') }}
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/perform`">
                 <span>{{ $t('tab_perform') }}</span>
              </v-tab>
            </v-tabs>
          </v-flex>
        </v-layout>
        
        <v-layout row>
            <v-flex xs12>
                <perform :promoData="promo"></perform>
            </v-flex>
        </v-layout>
    </v-container>
  </v-container>
</template>

<script>
import SNavbar from '@/components/s-navbar'
import Perform from '@/components/admin/promo/perform'

export default {
  name: 'AdminPromoPerform',
  layout: 'no-navbar',
  components: {
    SNavbar,
    Perform
  },
  data: function() {
    return {
      promo: null
    }
  },
  middleware: 'auth',
  head() {
    return {
      title: this.$t('page.admin.p.id.title'),
      meta: [{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' }]
    }
  },
  asyncData({ app, params, env, error }) {
    const promoId = params.id
    return app.$axios
      .$get(`/admin/promos/${promoId}`)
      .then(res => {
        if (res.success) {
          return { promo: res.data }
        } else {
          error({
            statusCode: 404
          })
        }
      })
      .catch(err => {
        error({
          statusCode: err.response ? err.response.status : 500,
          message: err.response ? err.response.data : ''
        })
      })
  }
}
</script>