<template>
  <v-container class="pa-0">
    <s-navbar :title="$t('page.admin.p.id.title')" backbutton="/admin/p/my"></s-navbar>
    <v-container grid-list-md class="s-admin-promo-status pt-2">

        <v-layout row>
          <v-flex xs12>
            <v-tabs color="transparent" :value="`/admin/p/${promo.id}/status`">
              <v-tab :href="`/admin/p/${promo.id}`">
                {{ $t('tab_update') }}
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/status`">
                 <span>{{ $t('tab_status') }}</span>
              </v-tab>
              <v-tab :href="`/admin/p/${promo.id}/perform`">
                {{ $t('tab_perform') }}
              </v-tab>
            </v-tabs>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12 sm6 md4 v-for="(item, index) in list" :key="index">
            <v-card :color="item.color" class="py-3" :class="item.class">
                <v-card-text class="text-xs-center">
                  <div class="body-1 mb-2">{{ item.name }}</div>
                  <div class="headline">{{ item.value }}</div>
                </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

    </v-container>
  </v-container>
</template>

<script>
import SNavbar from '@/components/s-navbar'
import moment from 'moment'

export default {
  name: 'AdminPromoStatus',
  components: { SNavbar },
  layout: 'no-navbar',
  data: function() {
    return {
      list: [],
      promo: null
    }
  },
  middleware: 'auth',
  head() {
    return {
      title: this.$t('page.admin.p.id.title'),
      meta: [{ hid: 'robots', name: 'robots', content: 'noindex, nofollow' }]
    }
  },
  asyncData({ app, params, env, error }) {
    const promoId = params.id
    return app.$axios
      .$get(`/admin/promos/${promoId}`)
      .then(res => {
        if (res.success) {
          return { promo: res.data }
        } else {
          error({
            statusCode: 404
          })
        }
      })
      .catch(err => {
        error({
          statusCode: err.response ? err.response.status : 500,
          message: err.response ? err.response.data : ''
        })
      })
  },
  created: function() {
    this.list = []

    let publishValue = this.$t('label_dev')
    if (this.promo.publishType === 'test') publishValue = this.$t('label_test')
    if (this.promo.publishType === 'prod') publishValue = this.$t('label_prod')

    let publishColor = 'white'
    if (this.promo.publishType === 'test') publishColor = 'info'
    if (this.promo.publishType === 'prod') publishColor = 'green'

    let publishClass = 'black'
    if (this.promo.publishType === 'test') publishClass = 'white--text'
    if (this.promo.publishType === 'prod') publishClass = 'white--text'

    this.list.push({
      name: this.$t('comp.status.publish'),
      value: publishValue,
      color: publishColor,
      class: publishClass
    })

    let promoStatus = this.$t('comp.status.promo_running')
    if (this.promo.closedType === 'cancel')
      promoStatus = this.$t('comp.status.promo_cancel')
    if (this.promo.closedType === 'success')
      promoStatus = this.$t('comp.status.promo_success')

    let promoColor = 'white'
    if (this.promo.closedType === 'cancel') promoColor = 'red'
    if (this.promo.closedType === 'success') promoColor = 'green'

    let promoClass = 'black'
    if (this.promo.closedType === 'cancel') promoClass = 'white--text'
    if (this.promo.closedType === 'success') promoClass = 'white--text'

    this.list.push({
      name: this.$t('comp.status.promo'),
      value: promoStatus,
      color: promoColor,
      class: promoClass
    })

    this.list.push({
      name: this.$t('comp.status.initial_date'),
      value: moment(this.promo.startAt).format(this.$t('datetime_format')),
      done: moment().isAfter(this.promo.startAt)
    })

    this.list.push({
      name: this.$t('comp.status.final_date'),
      value: moment(this.promo.finishAt).format(this.$t('datetime_format')),
      done: moment().isAfter(this.promo.finishAt)
    })

    this.list.push({
      name: this.$t('comp.status.perform_date'),
      value: moment(this.promo.performAt).format(this.$t('datetime_format')),
      done: moment().isAfter(this.promo.performAt)
    })

    const totalUsers = this.promo.totalUsers + this.promo.totalWinners
    this.list.push({
      name: this.$t('comp.status.min_users'),
      value: this.promo.minUsers,
      done: totalUsers >= this.promo.minUsers
    })

    const maxUsers = this.promo.maxUsers
    this.list.push({
      name: this.$t('comp.status.max_users'),
      value: maxUsers,
      done: totalUsers >= this.promo.maxUsers
    })

    this.list.push({
      name: this.$t('comp.status.max_winners'),
      value: this.promo.maxWinners,
      done: this.promo.totalWinners >= this.promo.maxWinners
    })

    this.list.push({
      name: this.$t('comp.status.total_users'),
      value: totalUsers,
      done: totalUsers > 0
    })
  }
}
</script>

<style lang="scss">
.s-admin-promo-status {
  .btn-submit {
    min-width: 150px;
  }

  .alert ul {
    margin-bottom: 0px;
    padding-left: 14px;
  }

  .list-content i {
    vertical-align: middle;
  }
}
</style>
