<v-container class="s-admin-promo-publish pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-card-text>
                    <v-layout row v-if="message.data.length > 0" class="mb-2">
                        <v-flex xs12>
                            <v-alert :value="true" :type="(message.success) ? 'success' : 'error'">
                                <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                            </v-alert>
                        </v-flex>
                    </v-layout>

                    <v-layout row>
                        <v-flex>
                            <v-radio-group v-model="publishTypeSelected" mandatory>
                                <div v-for="(item, index) in publishOptions" :key="index">
                                    <v-radio :label="item.text" :value="item.value" :disable="item.disabled"></v-radio>
                                    <div class="grey--text caption mb-2 ml-4 pl-2" v-html="item.tooltip"></div>
                                </div>
                            </v-radio-group>
                        </v-flex>
                    </v-layout>

                    <v-btn color="primary" @click="btnPublish" :loading="loadingPublish" :disabled="!enabled || loading">{{$t('btn_save_changes')}}</v-btn>

                </v-card-text>
            </v-card>
        </v-flex>

        <alert ref="alert"></alert>
        <confirm ref="confirm"></confirm>

    </v-layout>
</v-container>