<v-container grid-list-md class="s-admin-promo-perform pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-card-title>
                    <v-layout row>
                        <v-flex xs10>
                            <h2 class="headline pt-2">{{ name }}</h2>
                        </v-flex>
                        <v-flex xs2 class="text-xs-right">
                            <v-menu bottom left>
                                <v-btn slot="activator" icon>
                                    <v-icon>more_vert</v-icon>
                                </v-btn>
                                <v-list>
                                    <v-list-tile @click="btnClosePromo">
                                        <v-icon class="mr-2">check</v-icon>
                                        <v-list-tile-title>{{ $t('menu_close_promo') }}</v-list-tile-title>
                                    </v-list-tile>
                                    <v-list-tile @click="btnCancelPromo">
                                        <v-icon class="mr-2">cancel</v-icon>
                                        <v-list-tile-title>{{ $t('menu_cancel_promo') }}</v-list-tile-title>
                                    </v-list-tile>
                                    <v-divider></v-divider>
                                    <v-list-tile @click="btnExportUsers">
                                        <v-icon class="mr-2">save_alt</v-icon>
                                        <v-list-tile-title>{{ $t('menu_export_users') }}</v-list-tile-title>
                                    </v-list-tile>
                                </v-list>
                            </v-menu>
                        </v-flex>
                    </v-layout>
                </v-card-title>
                <v-card-text>
                    <v-layout row align-center justify-center>
                        <v-flex xs12 sm6 class="text-xs-center">
                            <img :src="imageUrlPerform" width="100%" />
                            <small v-if="imageUrl && fakeImage" class="grey--text">{{ $t('label_fake_image') }}</small>
                        </v-flex>
                    </v-layout>
                    <v-layout row align-center justify-center class="mt-2">
                        <v-flex xs12 sm6>
                            <v-btn block round @click="btnPerform" :loading="loadingPerform" :disabled="loading||closedType !== null" large color="success">{{ btnPerformText }}</v-btn>
                        </v-flex>
                    </v-layout>
                    <v-layout row v-if="closedType === 'success' || closedType == 'cancel'">
                        <v-flex>
                            <v-divider class="my-3"></v-divider>
                            <p v-if="closedType === 'success'">
                                <strong>{{ $t('label_text_promo_closed') }}</strong>
                            </p>
                            <p v-if="closedType === 'cancel'">
                                <strong>{{ $t('label_text_promo_canceled') }}</strong>
                            </p>
                            <p>{{ closedText }}</p>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>

    <v-layout row>
        <v-flex>
            <v-card>

                <v-card-title primary-title>
                    <div class="headline">{{ $t('label_winners') }}</div>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text>
                    <v-layout row>
                        <v-flex>
                            <v-data-table :items="winners" hide-actions hide-headers class="elevation-0">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-btn slot="activator" flat icon @click="props.item.visible=!props.item.visible">
                                            <v-icon>{{props.item.visible ? 'visibility_off' : 'visibility'}}</v-icon>
                                        </v-btn>
                                    </td>
                                    <td>
                                        {{props.item.wonPosition}}º
                                    </td>
                                    <td>
                                        {{props.item.visible ? props.item.name : '? ? ? ? ? ? ?'}}
                                    </td>
                                    <td>
                                        {{ props.item.visible ? partMail(props.item.email) : '? ? ? ? ? ? ?' }}
                                    </td>
                                    <td class="text-xs-right">
                                        <v-menu v-if="!closedText" bottom left>
                                            <v-btn slot="activator" flat icon>
                                                <v-icon>more_vert</v-icon>
                                            </v-btn>
                                            <v-list>
                                                <v-list-tile @click="btnNotifyWinner(props.item.id)">
                                                    <v-icon class="mr-2">mail</v-icon>
                                                    <v-list-tile-title>{{ $t('btn_notify_winner') }}</v-list-tile-title>
                                                </v-list-tile>
                                                <v-list-tile @click="btnDeleteWinner(props.item.id)">
                                                    <v-icon class="mr-2">cancel</v-icon>
                                                    <v-list-tile-title>{{ $t('btn_delete_winner') }}</v-list-tile-title>
                                                </v-list-tile>
                                            </v-list>
                                        </v-menu>
                                    </td>
                                </template>

                                <template slot="no-data">{{ $t('label_no_winners') }}
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>

    <v-layout row v-if="badWinners.length">
        <v-flex>
            <v-card>
                <v-card-title primary-title>
                    <div class="headline">{{ $t('label_bad_winners') }}</div>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text>
                    <v-layout row>
                        <v-flex>
                            <v-data-table :items="badWinners" hide-actions hide-headers class="elevation-0">
                                <template slot="items" slot-scope="props">
                                    <td>
                                        <v-btn slot="activator" flat icon @click="props.item.visible=!props.item.visible">
                                            <v-icon>{{props.item.visible ? 'visibility_off' : 'visibility'}}</v-icon>
                                        </v-btn>
                                    </td>
                                    <td>
                                        {{ props.item.wonPosition }}º
                                    </td>
                                    <td>
                                        {{ props.item.visible ? props.item.name : '? ? ? ? ? ? ?' }}
                                    </td>
                                    <td>
                                        {{ props.item.visible ? partMail(props.item.email) : '? ? ? ? ? ? ?' }}
                                    </td>
                                    <td class="text-xs-right">
                                        <v-btn v-if="props.item.visible" slot="activator" flat icon @click="btnShowDeletedMessage(props.item.id)">
                                            <v-icon>warning</v-icon>
                                        </v-btn>
                                    </td>
                                </template>

                                <template slot="no-data">{{ (winners.length === 0 && badWinners.length === 0) ? $t('label_no_winners') : $t('label_no_bad_winners') }}
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>

    <dialog-text ref="dialogText"></dialog-text>
    <alert ref="alert"></alert>
    <confirm ref="confirm"></confirm>

</v-container>