<v-container class="s-admin-promo-advanced pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-alert :value="message.data.length" :type="(message.success) ? 'success' : 'error'" class="ma-3">
                    <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                </v-alert>

                <v-subheader>{{ $t('comp.advanced.min_sub') }}</v-subheader>

                <v-card-text>
                    <v-layout row>
                        <v-flex class="text-xs-center"><span class="headline">{{ sliderMinUsers.val | number }}</span></v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="subMinUsers">chevron_left</v-icon>
                            </v-btn>
                        </v-flex>
                        <v-flex xs8 class="text-xs-center">
                            <v-slider v-model="sliderMinUsers.val" class="slider mt-2 ml-3 mr-2" always-dirty :color="sliderMinUsersColor" tick-size="2"
                                :min="sliderMinUsers.min" :max="sliderMinUsersMax">
                            </v-slider>
                            <v-layout row align-center>
                                <v-flex class="text-xs-left pl-3"><span>{{ sliderMinUsers.min | number }}</span></v-flex>
                                <v-flex class="text-xs-right pr-2"><span>{{ sliderMinUsersMax | number }}</span></v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="addMinUsers">chevron_right</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-subheader>{{ $t('comp.advanced.max_sub') }}</v-subheader>

                <v-card-text>
                    <v-layout row>
                        <v-flex class="text-xs-center"><span class="headline">{{ sliderMaxUsers.val | number }}</span></v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="subMaxUsers">chevron_left</v-icon>
                            </v-btn>
                        </v-flex>
                        <v-flex xs8 class="text-xs-center">
                            <v-slider v-model="sliderMaxUsers.val" class="slider mt-2 ml-3 mr-2" always-dirty :color="sliderMaxUsersColor" tick-size="4"
                                :min="sliderMaxUsersMin" :max="sliderMaxUsers.max">
                            </v-slider>
                            <v-layout row align-center>
                                <v-flex class="text-xs-left pl-3"><span>{{ sliderMaxUsersMin | number }}</span></v-flex>
                                <v-flex class="text-xs-right pr-2">
                                    <v-btn flat small color="primary" @click="btnShowPlans" icon>
                                        <v-icon>add_circle_outline</v-icon>
                                    </v-btn>
                                    <span>{{ sliderMaxUsers.max | number }}</span>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="addMaxUsers">chevron_right</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>

                <v-subheader>{{ $t('comp.advanced.num_winners') }}</v-subheader>

                <v-card-text>
                    <v-layout row>
                        <v-flex class="text-xs-center"><span class="headline">{{ sliderWinners.val | number }}</span></v-flex>
                    </v-layout>

                    <v-layout row wrap>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="subMaxWinners">chevron_left</v-icon>
                            </v-btn>
                        </v-flex>
                        <v-flex xs8 class="text-xs-center">
                            <v-slider v-model="sliderWinners.val" class="slider mt-2 ml-3 mr-2" always-dirty :color="sliderWinnersColor" tick-size="2"
                                :min="sliderWinners.min" :max="sliderWinnersMax">
                            </v-slider>
                            <v-layout row align-center>
                                <v-flex class="text-xs-left pl-3"><span>{{ sliderWinners.min | number }}</span></v-flex>
                                <v-flex class="text-xs-right pr-2"><span>{{ sliderWinnersMax | number }}</span></v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs2 class="text-xs-center">
                            <v-btn icon>
                                <v-icon @click="addMaxWinners">chevron_right</v-icon>
                            </v-btn>
                        </v-flex>
                    </v-layout>

                    <v-layout row class="mt-4">
                        <v-flex>
                            <v-btn color="primary" @click="btnSubmit" :disabled="!!this.promo.closedType || loading || !hasChange">{{$t('btn_save_changes')}}</v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>

            </v-card>
        </v-flex>
    </v-layout>

    <v-dialog v-model="showPlans" scrollable max-width="300px">
        <v-card>
            <v-card-title>{{ $t('comp.advanced.max_sub') }}</v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 300px;" class="pa-0">
                <v-radio-group v-model="planItem" class="pa-0">
                    <v-list subheader>
                        <v-list-tile v-for="(item, index) in plans" :key="index" :disabled="itemDisabled(item)" @click="planItem = item">
                            <v-list-tile-action>
                                <v-radio :value="item" :disabled="itemDisabled(item)"></v-radio>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>{{ item.max | number }}</v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action>
                                <small class="grey--text">{{ displayPrice(item.price) }}</small>
                            </v-list-tile-action>
                        </v-list-tile>
                    </v-list>
                </v-radio-group>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="grey" flat @click="showPlans = false">{{ $t('btn_cancel') }}</v-btn>
                <v-btn color="accent" flat @click="btnSavePlanItem">{{ $t('btn_ok') }}</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <confirm ref="confirm"></confirm>

</v-container>