<template> 
  <v-container fill-height class="s-ops">
          <v-layout row wrap align-center>
              <v-flex class="text-xs-center">
                <h1>{{ item.title }}</h1>
                <h2 class="mt-3 mb-4">{{ item.subtitle }}</h2>
                <p>{{ item.message }}</p>
                <v-btn href="/" color="primary">{{ $t('page.error.btn_home') }}</v-btn>
              </v-flex>
          </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['error'],
  data: function() {
    return {
      item: null,
      list: []
    }
  },
  head() {
    return {
      title: this.$t('page.error.title'),
      meta: [
        { hid: 'robots', name: 'robots', content: 'noindex, nofollow' }
      ]
    }
  },
  created: function() {

    this.list = [
      {
        code: 404,
        title: "~404~",
        subtitle: this.$t('error_404_title'),
        message: this.$t('error_404_content')
      },
      {
        code: 500,
        title: "~500~",
        subtitle: this.$t('error_500_title'),
        message: this.$t('error_500_content')
      },
      {
        code: 401,
        title: "~401~",
        subtitle: this.$t('error_401_title'),
        message: this.$t('error_401_content')
      }
    ]

    let hash = (this.error) ? String(this.error.statusCode) : ''
    if(!hash) {
      hash = (this.$route.hash) ? String(this.$route.hash).replace('#', '') : '404'
    }

    this.list.forEach(item => {
      if(String(item.code) === hash){
        this.item = item
      }
    })

    if(!this.item){
      this.item = this.list[0]
    }

    if(this.error) {
      console.error(this.error)
    }
  }
}
</script>

<style lang="scss">

  .s-ops {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.3em;
    }
  }

</style>