<template>
  <v-app>
    <v-content>      
      <nuxt/>
    </v-content>
    <s-footer></s-footer>    
  </v-app>
</template>

<script>
import SFooter from '@/components/s-footer'

export default {
  name: 'App',
  components: {
    SFooter
  }
}
</script>

<style lang="scss">
  .application {
    &.theme--light{
      background-color: #ECEFF1;
    }
  }
    
  /* animation */

  @keyframes animeRotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

  @-webkit-keyframes animeRotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
    }
  }

  @-moz-keyframes animeRotate {
    0% {
      -moz-transform: rotate(0deg);
    }
    100% {
      -moz-transform: rotate(359deg);
    }
  }

  @-o-keyframes animeRotate {
    0% {
      -o-transform: rotate(0deg);
    }
    100% {
      -o-transform: rotate(359deg);
    }
  }

  @-ms-keyframes animeRotate {
    0% {
      -ms-transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(359deg);
    }
  }

  .anime-rotate-slow {
        animation: animeRotate linear 50s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animeRotate linear 50s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animeRotate linear 50s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animeRotate linear 50s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animeRotate linear 50s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;  
    }
    
    .anime-rotate-fast {
        animation: animeRotate linear 1s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%;
        -webkit-animation: animeRotate linear 1s;
        -webkit-animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-animation: animeRotate linear 1s;
        -moz-animation-iteration-count: infinite;
        -moz-transform-origin: 50% 50%;
        -o-animation: animeRotate linear 1s;
        -o-animation-iteration-count: infinite;
        -o-transform-origin: 50% 50%;
        -ms-animation: animeRotate linear 1s;
        -ms-animation-iteration-count: infinite;
        -ms-transform-origin: 50% 50%;  
    } 
</style>