.s-promo {

  background: #fff;
  height: 100%;

  hr.promo-divider {
    height: 2px;
  }

  .btn-view-more {
    text-decoration: none;
    text-transform: lowercase;
    color: #444;
    font-weight: 450;
  }

  .btn-view-more:hover {
    text-decoration: underline;
  }

  table {
    td {
      padding-top: 6px;
      padding-bottom: 6px;
      border-top: 1px solid #ddd;
      font-size: 10pt;
    }
  }

  .section {

    .section-icon {
      float: left;
      padding: 10px 10px 10px 0px;
      margin-top: 3px;
    }    

    .section-text {
      padding: 10px 10px 10px 0px;
      font-weight: 400;
      font-size: 14pt;
    }

  }

  .share-with {
    button {
      padding: 0;
      margin: 0 5px;
    }
  }

  .resp-iframe {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

}