<v-container class="s-admin-promo-action pa-0">
    <v-layout row>
        <v-flex>
            <v-card>
                <v-divider></v-divider>

                <v-alert :value="message.data.length" :type="(message.success) ? 'success' : 'error'" class="ma-3">
                    <p class="my-0" v-for="(error, index) in message.data" :key="index">{{ error }}</p>
                </v-alert>

                <v-card-text>

                    <v-form ref="form" v-model="form.valid" lazy-validation>
                        <v-layout row>
                            <v-flex xs6 class="ml-3">
                                <v-select v-model="form.action" :rules="form.rules.action" :disabled="!enabled" :items="categories" item-text="v" item-value="k"
                                    :label="$t('comp.action.label_action')" required></v-select>
                            </v-flex>
                        </v-layout>

                        <v-btn class="mt-2" color="primary" @click="btnSubmit" :disabled="!enabled || form.loading || !form.valid" :loading="form.loading">{{$t('btn_save_changes')}}</v-btn>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>