<template> 
  <v-container fill-height class="s-ops">
          <v-layout row wrap align-center>
              <v-flex class="text-xs-center">
                <h1>{{ $t('page.browser_off.title') }}</h1>
                <h2 class="mt-3 mb-4">{{ $t('page.browser_off.subtitle') }}</h2>
                <p>{{ $t('page.browser_off.text') }}</p>
                <v-btn flat color="blue" href="https://www.google.com/chrome"><v-icon color="grey" left>fab fa-chrome</v-icon> Chrome</v-btn> 
                <v-btn flat color="blue" href="https://www.mozilla.org"><v-icon color="grey" left>fab fa-firefox</v-icon> Firefox</v-btn> 
                <v-btn flat color="blue" href="https://support.apple.com/downloads/safari"><v-icon color="grey" left>fab fa-safari</v-icon> Safari</v-btn>
                <v-btn flat color="blue" href="https://www.microsoft.com/windows/microsoft-edge"><v-icon color="grey" left>fab fa-edge</v-icon> Edge</v-btn>
              </v-flex>
          </v-layout>
  </v-container>
</template>

<script>
export default {
  head() {
    return {
      title: this.$t('page.browser_off.title'),
      meta: [
        { hid: 'robots', name: 'robots', content: 'noindex, nofollow' }
      ]
    }
  }
}
</script>

<style lang="scss">

  .s-browser-off {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.5em;
    }
    p {
      font-size: 1.3em;
    }
  }

</style>