<template>
  <v-container class="draw-lottery">
      <v-layout row align-center justify-center>
        <v-flex xs12 sm11 md9 class="pa-2">
          <s-menu-rand></s-menu-rand>
          <s-rand-lottery></s-rand-lottery>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import SRandLottery from '@/components/s-rand-lottery'
import SMenuRand from '@/components/s-menu-rand'

export default {
  components: { SRandLottery, SMenuRand },
  head() {
    return {
      title: this.$t('page.draw_lottery.title'),
      meta: [
        { hid: 'og:title', property: 'og:title', content: this.$t('page.draw_lottery.title') },
        { hid: 'og:description', property: 'og:description', content: this.$t('page.draw_lottery.description') },
        { hid: 'description', name: 'description', content: this.$t('page.draw_lottery.description') }
      ]
    }
  }
}
</script>