<template>
  <v-container class="draw-alphabet">
      <v-layout row align-center justify-center>
        <v-flex xs12 sm11 md9 class="pa-2">
          <s-menu-rand></s-menu-rand>
          <s-rand-alphabet></s-rand-alphabet>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import SRandAlphabet from '@/components/s-rand-alphabet'
import SMenuRand from '@/components/s-menu-rand'

export default {
  components: { SRandAlphabet, SMenuRand },
  head() {
    return {
      title: this.$t('page.draw_alphabet.title'),
      meta: [
        { hid: 'og:title', property: 'og:title', content: this.$t('page.draw_alphabet.title') },
        { hid: 'og:description', property: 'og:description', content: this.$t('page.draw_alphabet.description') },
        { hid: 'description', name: 'description', content: this.$t('page.draw_alphabet.description') }
      ]
    }
  }
}
</script>