<template>
  <v-container class="draw-numbers">
      <v-layout row align-center justify-center>
        <v-flex xs12 sm11 md9 class="pa-2">
          <s-menu-rand></s-menu-rand>
          <s-rand-numbers></s-rand-numbers>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import SRandNumbers from '@/components/s-rand-numbers'
import SMenuRand from '@/components/s-menu-rand'

export default {
  components: { SRandNumbers, SMenuRand },
  head() {
    return {
      title: this.$t('page.draw_numbers.title'),
      meta: [
        { hid: 'og:title', property: 'og:title', content: this.$t('page.draw_numbers.title') },
        { hid: 'og:description', property: 'og:description', content: this.$t('page.draw_numbers.description') },
        { hid: 'description', name: 'description', content: this.$t('page.draw_numbers.description') }
      ]
    }
  }
}
</script>