<template>
  <v-container class="flip-coin" fluid>
      <v-layout row align-center justify-center>
        <v-flex xs12 sm11 md9 class="pa-2">
          <s-menu-rand></s-menu-rand>
          <s-rand-coin></s-rand-coin>
        </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
import SRandCoin from '@/components/s-rand-coin'
import SMenuRand from '@/components/s-menu-rand'

export default {
  components: { SRandCoin, SMenuRand },
  head() {
    return {
      title: this.$t('page.heads_or_tails.title'),
      meta: [
        { hid: 'og:title', property: 'og:title', content: this.$t('page.heads_or_tails.title') },
        { hid: 'og:description', property: 'og:description', content: this.$t('page.heads_or_tails.description') },
        { hid: 'description', name: 'description', content: this.$t('page.heads_or_tails.description') }
      ]
    }
  }
}
</script>