<template>
  <v-container fluid class="s-home pa-0">

    <div class="primary pt-5 pb-2">
      <v-layout row wrap>
        <v-flex xs12 md6 order-xs2 order-md1 class="mb-4 px-5">
          <h1 class="font-weight-medium white--text">{{ $t('page.home.promos.title') }}</h1>
          <h2 class="font-weight-regular white--text mt-3">{{ $t('page.home.promos.text_1') }}</h2>
          <h2 class="font-weight-regular white--text mt-4">{{ $t('page.home.promos.text_2') }}</h2>
          <v-btn href="/admin/p/my" round large class="ml-0 mt-4">{{ $t('page.home.promos.btn_start') }} <v-icon>keyboard_arrow_right</v-icon></v-btn>
        </v-flex>
        <v-flex xs12 md6 order-xs1 order-md2 class="text-xs-center pb-2">
          <img src="/img/megaphone.png" width="150" />
          <div class="d-block mt-3"></div>
          <img src="/img/social-media.png" width="70%" />
        </v-flex>
      </v-layout>
    </div>

    <div class="text-xs-center py-5 px-3">
      <h2 class="headline">{{ $t('page.home.types.title') }}</h2>
      <v-layout row wrap>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-box-open</v-icon>
          <div class="mt-2">{{ $t('page.home.types.product') }}</div>
        </v-flex>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-wrench</v-icon>
          <div class="mt-2">{{ $t('page.home.types.service') }}</div>
        </v-flex>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-umbrella-beach</v-icon>
          <div class="mt-2">{{ $t('page.home.types.travel') }}</div>
        </v-flex>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-cart-plus</v-icon>
          <div class="mt-2">{{ $t('page.home.types.purchase') }}</div>
        </v-flex>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-calendar-check</v-icon>
          <div class="mt-2">{{ $t('page.home.types.event') }}</div>
        </v-flex>
        <v-flex xs6 sm2 class="mt-4">
          <v-icon size="40">fa-ellipsis-h</v-icon>
          <div class="mt-2">{{ $t('page.home.types.others') }}</div>
        </v-flex>
      </v-layout>
    </div>

    <div class="text-xs-center mt-1 mb-1 pa-3">
      <img class="mt-3" src="/img/speed.png" width="150" />
      <h1 class="display-1 mt-3">{{ $t('page.home.draws.title') }}</h1>
      <h3 class="headline mt-3">{{ $t('page.home.draws.sub_title') }}</h3> 
    </div>

    <v-container>

      <v-layout row wrap justify-center>

        <v-flex xs12 md6>
          <v-card class="pa-2 ma-2 card-draw">
            <v-card-text>
              <v-layout row class="item mt-3">
                <v-flex>
                  <v-layout row wrap fill-height justify-center align-center>
                    <v-flex xs3 class="text-xs-center">
                      <v-icon color="primary" class="icon">help_outline</v-icon>
                    </v-flex>
                    <v-flex xs9>
                      <a href="/heads-or-tails" class="title">{{ $t('page.home.draws.coin') }}</a>                
                      <div class="text text--dark-grey">{{ $t('page.home.draws.coin_text') }}</div>                
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md6>
          <v-card class="pa-2 ma-2 card-draw">
            <v-card-text>
              <v-layout row class="item mt-3">
                <v-flex>
                  <v-layout row wrap fill-height justify-center align-center>
                    <v-flex xs3 class="pr-2 text-xs-center">
                      <v-icon color="primary" class="icon">filter_7</v-icon>
                    </v-flex>
                    <v-flex xs9>
                      <a href="/draw-numbers" class="title">{{ $t('page.home.draws.numbers') }}</a>                
                      <div class="text text--dark-grey">{{ $t('page.home.draws.numbers_text') }}</div>                
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md6>
          <v-card class="pa-2 ma-2 card-draw">
            <v-card-text>
              <v-layout row class="item mt-3">
                <v-flex>
                  <v-layout row wrap fill-height justify-center align-center>
                    <v-flex xs3 class="pr-2 text-xs-center">
                      <v-icon color="primary" class="icon">category</v-icon>
                    </v-flex>
                    <v-flex xs9>
                      <a href="/draw-words" class="title">{{ $t('page.home.draws.words') }}</a>                
                      <div class="text text--dark-grey">{{ $t('page.home.draws.words_text') }}</div>                
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md6>
          <v-card class="pa-2 ma-2 card-draw">
            <v-card-text>
              <v-layout row class="item mt-3">
                <v-flex>
                  <v-layout row wrap fill-height justify-center align-center>
                    <v-flex xs3 class="pr-2 text-xs-center">
                      <v-icon color="primary" class="icon">sort_by_alpha</v-icon>
                    </v-flex>
                    <v-flex xs9>
                      <a href="/draw-alphabet" class="title">{{ $t('page.home.draws.alphabet') }}</a>                
                      <div class="text text--dark-grey">{{ $t('page.home.draws.alphabet_text') }}</div>                
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12 md6>
          <v-card class="pa-2 ma-2 card-draw">
            <v-card-text>
              <v-layout row class="item mt-3">
                <v-flex>
                  <v-layout row wrap fill-height justify-center align-center>
                    <v-flex xs3 class="pr-2 text-xs-center">
                      <v-icon color="primary" class="icon">attach_money</v-icon>
                    </v-flex>
                    <v-flex xs9>
                      <a href="/draw-lottery" class="title">{{ $t('page.home.draws.lottery') }}</a>                
                      <div class="text text--dark-grey">{{ $t('page.home.draws.lottery_text') }}</div>                
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

      </v-layout>

    </v-container>

    <div class="text-xs-center mt-1 mb-5 pa-3">
      <img class="mt-3" src="/img/heart-box.png" width="150" />
      <h1 class="display-1 mt-3">{{ $t('page.home.for_clients_title') }}</h1>
      <h3 class="headline mt-3">{{ $t('page.home.for_clients_subtitle') }}</h3> 
    </div>

    <div class="mt-1 mb-5">
      <v-layout row wrap fill-height justify-center align-center>
        <v-flex xs12 md6 class="primary pa-3 text-xs-center text-md-right">
          <img class="mt-3" src="/img/tag.png" width="150" />
        </v-flex>
        <v-flex xs12 md6 class="pa-3 text-xs-center text-md-left">
          <h1 class="display-1" :class="{'mt-2': $vuetify.breakpoint.smAndDown}">{{ $t('page.home.for_users_title') }}</h1>
          <h3 class="headline mt-3">{{ $t('page.home.for_users_subtitle') }}</h3> 
        </v-flex>
      </v-layout>
    </div>
    
    <div class="text-xs-center mt-1 mb-5 pa-3">
      <img class="mt-3" src="/img/bars.png" width="150" />
      <h1 class="display-1 mt-3">{{ $t('page.home.for_strategy_title') }}</h1>
      <h3 class="headline mt-3">{{ $t('page.home.for_strategy_subtitle') }}</h3> 
    </div>

    <div class="text-xs-center mt-1 pt-5 pl-3 pr-3 pb-5 primary">
      <h1 class="display-1 white--text mt-3">{{ $t('page.home.finish_title') }}</h1>
      <h3 class="headline white--text mt-3" v-html="$t('page.home.finish_text')"></h3> 
      <v-btn href="/admin/p/my" round large class="ml-0 mt-4">{{ $t('page.home.promos.btn_start') }} <v-icon>keyboard_arrow_right</v-icon></v-btn>
    </div>

  </v-container>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {}
  },
  head() {
    return {
      title: this.$t('page.home.title'),
      titleTemplate: null,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.$t('page.home.title')
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.$t('page.home.description')
        },
        {
          hid: 'description',
          name: 'description',
          content: this.$t('page.home.description')
        }
      ]
    }
  }
}
</script>

<style lang="scss">
.s-home {
  font-size: 17px;
  font-weight: 300px;
  line-height: 1.62;

  .card-draw {
    .item {
      .icon {
        font-size: 48px;
        line-height: 2;
      }
      .title {
        margin-bottom: 5px;
        text-decoration: none;
        font-size: 17px !important;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
</style>
