<template>
  <v-container class="s-login" fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout align-center justify-center row fill-height>
        <v-flex xs12 sm8 md6 lg4>
          <s-login :class="{ 'mt-1': $vuetify.breakpoint.xsOnly, 'mt-5': $vuetify.breakpoint.smAndUp }"></s-login>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import SLogin from '@/components/s-login'

export default {
  name: 'Login',
  components: {
    SLogin
  },
  middleware: 'noauth',
  head() {
    return {
      title: this.$t('page.login.title'),
      meta: [
        { hid: "description", name: "description", content: this.$t("page.login.description") },
        { hid: 'robots', name: 'robots', content: 'noindex, nofollow' }
      ]
    }
  }
}
</script>
