<template>
  <v-container class="s-terms" fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout row align-center justify-center>
        <v-flex xs12 sm11 md9 class="pa-2">
          <div v-html="$t('text_privacy_policy')"></div>
        </v-flex>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  name: 'Terms',
  head() {
    return {
      title: this.$t('page.terms.title'),
      meta: [
        { hid: 'robots', name: 'robots', content: 'noindex, nofollow' }
      ]
    }
  }
}
</script>

<style lang="scss">
.s-terms {
  font-size: 17px;
  font-weight: 300px;
  line-height: 1.62;
}
</style>
