.s-admin-promo-update {

  .v-expansion-panel__header {
    height: inherit;
  }

  .title {
    font-size: 1.4em;
    padding: 0.5em 0;
  }

  .btn-submit {
    min-width: 150px;
  }

  .alert ul {
    margin-bottom: 0px;
    padding-left: 14px;
  }

  .card-header {
    background-color: #fff;
    font-weight: 600;
  }

}
