<v-container class="s-admin-promo-update pa-0">
    <v-layout row wrap>
        <v-flex xs12 md8>
            <v-expansion-panel class="mb-2" :value="0">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('label_basic') }}</div>
                        <span class="grey--text">{{ $t('label_basic_desc') }}</span>
                    </div>
                    <update-basic :promo-data="promo"></update-basic>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel class="mb-2">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('label_dates') }}</div>
                        <span class="grey--text">{{ $t('label_dates_desc') }}</span>
                    </div>
                    <update-dates :promo-data="promo"></update-dates>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel class="mb-2">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('label_media') }}</div>
                        <span class="grey--text">{{ $t('label_media_desc') }}</span>
                    </div>
                    <update-media :promo-data="promo"></update-media>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel class="mb-2">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('comp.advanced.title') }}</div>
                        <span class="grey--text">{{ $t('comp.advanced.desc') }}</span>
                    </div>
                    <update-advanced :promo="promo"></update-advanced>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel>
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('comp.action.title') }}</div>
                        <span class="grey--text">{{ $t('comp.action.desc') }}</span>
                    </div>
                    <update-action :promo="promo"></update-action>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </v-flex>
        <v-flex xs12 md4>
            <v-expansion-panel class="mb-2">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('comp.credits.title') }}</div>
                        <span class="grey--text">{{ totalCredits }}</span>
                    </div>
                    <payment :promo-data="promo"></payment>
                </v-expansion-panel-content>
            </v-expansion-panel>

            <v-expansion-panel :value="0">
                <v-expansion-panel-content>
                    <div slot="header">
                        <div class="headline">{{ $t('label_publish') }}</div>
                        <span class="grey--text">{{ publishName }}</span>
                    </div>
                    <update-publish :promo-data="promo"></update-publish>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </v-flex>
    </v-layout>
</v-container>