<v-container class="s-admin-promo-subscribed">
    <v-layout row>
        <v-flex xs12>
            <v-card>

                <v-card-title primary-title>
                    <v-layout row>
                        <v-flex>
                            <div class="headline">{{ $t('label_title_my_promos' )}}</div>
                            <span class="grey--text">{{ $t('label_subtitle_my_promos') }}</span>
                        </v-flex>
                    </v-layout>
                </v-card-title>

                <v-divider></v-divider>

                <v-card-text>
                    <v-data-table :items="list" hide-actions hide-headers class="elevation-0">
                        <template slot="items" slot-scope="props">
                            <td>
                                <v-icon>{{ (props.item.closedType != null) ? 'done_all' : 'done'}}</v-icon>
                            </td>
                            <td>
                                <router-link class="open-promo" :to="`/p/${props.item.id}`" target="_blank">{{ props.item.name
                                    }}
                                </router-link>
                            </td>
                            <td>{{ props.item.performAt | formatDatetime($t('datetime_format')) }}</td>
                            <td class="text-xs-right">
                                <v-btn flat outline small color="success" v-if="props.item.finished && props.item.winner && !props.item.winner.deletedAt"
                                    @click="btnShowGoodMessage(props.item.id)">
                                    {{ $t('btn_congrats') }}
                                </v-btn>
                                <v-btn flat outline small color="red" v-if="props.item.finished && props.item.winner && props.item.winner.deletedAt" @click="btnShowBadMessage(props.item.id)">
                                    {{ $t('btn_deleted') }}
                                </v-btn>
                                <v-btn flat outline small color="red" v-if="!props.item.closedType && !props.item.finished" @click="btnDelete(props.item.id)">
                                    {{ $t('btn_delete') }}
                                </v-btn>
                            </td>
                        </template>
                        <template slot="no-data">{{ $t('error_not_promo_for_you') }}
                        </template>
                    </v-data-table>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>

    <v-dialog v-model="dialogDeletedMessage.show" max-width="500" @keydown.esc="dialogDeletedMessage.show = false">
        <v-toolbar dark color="red" dense>
            <v-toolbar-title class="white--text">{{ dialogDeletedMessage.title }}</v-toolbar-title>
        </v-toolbar>
        <v-card tile>
            <v-card-text>
                <div v-html="dialogDeletedMessage.info"></div>
                <div class="mt-3">
                    <strong>{{ $t('label_deleted_winner_text') }}: </strong>{{ dialogDeletedMessage.message }}
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="`red darken-1`" flat="flat" @click.native="dialogDeletedMessage.show = false">{{ $t('btn_ok')
                    }}
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <alert ref="alert"></alert>
    <confirm ref="confirm"></confirm>
</v-container>