<v-container class="s-rand-alphabet">
    <v-layout row wrap v-if="errors.length" class="mb-2">
        <v-flex xs12>
            <v-alert :value="true" type="error">
                <p class="my-0" v-for="(error, index) in errors" :key="index">{{ error }}</p>
            </v-alert>
        </v-flex>
    </v-layout>
    <v-layout row wrap>
        <v-flex xs12 sm8 offset-sm2>
            <v-select v-model="values" :items="options" :label="$t('label_letters')" multiple chips required></v-select>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-text-field v-model="qtd" type="number" maxlength="6" :label="$t('label_qtd')" required></v-text-field>
        </v-flex>
        <v-flex xs12 sm8 offset-sm2>
            <v-btn color="primary" block @click="btnPerform" :disabled="isLoading">{{$t('btn_random')}}</v-btn>
        </v-flex>
    </v-layout>
    <v-layout row wrap>
        <v-flex xs12>
            <div class="result mt-3" v-if="resultText">
                <div class="mt-2 text-xs-center result-text">{{resultText}}</div>
                <div class="my-2 text-xs-center">
                    <v-btn :disabled="results.length <= 1" @click="btnOrder" fab small>
                        <v-icon small>{{orderIcon}}</v-icon>
                    </v-btn>
                    <v-btn :disabled="results.length <= 0" fab small :title="$t('tip_copy')" v-clipboard="resultText">
                        <v-icon small>content_copy</v-icon>
                    </v-btn>
                </div>
            </div>
        </v-flex>
    </v-layout>
</v-container>